.masthead {
  font-variant: small-caps;
}

.modal {

  input#uncertainty-id {
    font-size: 3em;
    font-family: monospace;
  }

  .form-group:last-child {
    margin-bottom: 0;
  }

}

footer {
  .browser-btns {
    img {
      margin-right: 5px;
    }
  }
}
