@import "../../../../round-backgrounds";

.preload {
  visibility:hidden;
}

.preload>img {
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
}

.preload>div {
  @include roundBackgrounds;
  background-size: 0;
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
}

