@import "../../../../../../../node_modules/bootswatch/dist/cyborg/variables";

.d-modal-content {

  &:not(.eliminated) {
    border-color: $success;

    .modal-header {
      background-color: $success;
    }
  }

  &.eliminated {
    border-color: $danger;

    .modal-header {
      background-color: $danger;
    }
  }
}

.coin-holder {
  text-align: center;

  img.coin {
    height: 9rem;
  }

}
