@mixin roundBackgrounds {
  &[data-round-name*="EU4"], &[data-round-name*="eu4"] {
    background-image: url("/assets/img/bgs/eu4.jpg");
  }

  &[data-round-name*="Civ"], &[data-round-name*="civ"] {
    background-image: url("/assets/img/bgs/civ6.jpg");
  }

  &[data-round-name*="Stellaris"], &[data-round-name*="stellaris"] {
    background-image: url("/assets/img/bgs/stellaris.jpg");
  }

  &[data-round-name*="HoI"], &[data-round-name*="hoi"] {
    background-image: url("/assets/img/bgs/hoi4.jpg");
  }

  &[data-round-name*="WoW"], &[data-round-name*="wow"], &[data-round-name*="Warcraft"], &[data-round-name*="warcraft"] {
    background-image: url("/assets/img/bgs/wow.jpg");
  }

  &[data-round-name*="SoT"], &[data-round-name*="sot"], &[data-round-name*="Sea of Thieves"], &[data-round-name*="sea of thieves"],
  &[data-round-name*="Sea Of Thieves"] {
    background-image: url("/assets/img/bgs/sot.jpg");
  }

  &[data-round-name*="ESO"], &[data-round-name*="Elder Scrolls Online"] {
    background-image: url("/assets/img/bgs/eso.jpg");
  }
}
